/* Anchor */

a {
  color: #eee;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:hover {
  text-decoration: none;
}

/* Form */

input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

input[type='submit'] {
  cursor: pointer;
}

.form {
  margin: -14px;
  margin: -0.875rem;
}

.form input[type='password'],
.form input[type='email'],
.form input[type='text'],
.form input[type='submit'] {
  width: 100%;
  -webkit-appearance: none;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 14px;
  margin: 0.875rem;
}

.form-input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.form-image {
  width: 100%;
  max-width: 20rem;
  margin-bottom: 12px;
}

@media(max-width: 360px) {

  .form-image,
  .grid {
    max-width: 18rem;
  }
}

/* Text */

p {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  margin-top: 24px;
  margin-top: 1.5rem;
}

.text-center {
  text-align: center;
}

/* Button */

.confirm-button-class {
  background-color: #6fa287 !important;
  color: #eee !important;
  font-weight: 700 !important;
  /* text-transform: uppercase !important; */
}

.confirm-button-class:focus,
.confirm-button-class:hover {
  background: #5a886f !important;
}

.cancel-button-class {
  background-color: #a26f6f !important;
  color: #eee !important;
  font-weight: 700 !important;
  /* text-transform: uppercase !important; */
}

.cancel-button-class:focus,
.cancel-button-class:hover {
  background: #885a5a !important;
}

*.hidden {
  display: none !important;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.no-margin {
  margin: 0;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.light-input {
  background: #eeeeee !important;
  color: #525252 !important;
}

.light-input>div>input {
  background: #eeeeee !important;
  color: #525252 !important;
}

.light-label {
  background: #999999 !important
}

.light-input:hover,
.light-input:focus {
  background: #dadada !important;
}

.light-input>div>input:hover,
.light-input>div>input:focus {
  background: #dadada !important;
}

.mr-3 {
  margin: 0 !important;
  margin-right: 0.8rem !important;
}

.table-button {
  background: white;
  padding: 2px 5px;
  border-radius: 4px;
  cursor: pointer;
  color: #222;
}

.red-button-solid {
  border: 1px solid #ca4949;
}

.blue-button-solid {
  border: 1px solid #4952ca;
}

.mr-1 {
  margin-right: 0.25rem;
}

.text-center {
  text-align: center;
}

@media (max-width: 600px) {
  .mr-1 {
    margin-right: 0.25rem !important;
  }

  .table-button {
    width: auto !important;
    min-width: 60px !important;
  }
}

@media (max-width: 805px) {
  .mr-1 {
    margin: 0;
  }

  .table-button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .flex {
    display: grid;
    justify-content: unset !important;
  }

  .form-field {
    margin-top: 1rem !important;
    width: 100%;
  }

  .form-field:first-child {
    margin-top: 0 !important;
  }
}

.grey {
  color: #666;
}

.login-form {
  margin-top: 1rem !important;
  width: auto !important;
}

.login-form:first-child {
  margin-top: 1rem !important;
}